.modal-content {
    // overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 48px 0px 0px;
}

.inner {
    overflow-y: auto;

    &::-webkit-scrollbar-thumb {
        background-color: rgba(22, 24, 35, 0.05);
    }
}

.footer {
    position: relative;
    bottom: 0;
}

.policy {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);
    padding: 16px 30px;
    border-bottom: 1px solid rgba(22, 24, 35, 0.12);

    p {
        color: rgba(22, 24, 35, 0.5);
        font-size: 1.2rem;
        line-height: 15px;
        width: 375px;
        text-align: center;

        a {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.bottom {
    height: 64px;
    border-top: 1px solid rgba(22, 24, 35, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 1.5rem;
    background-color: var(--white);

    span {
        padding-left: 5px;
        color: var(--primary);
        font-weight: 600;
        line-height: 18px;

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.modal-close-btn {
    position: absolute;
    top: 21px;
    right: 17px;
    width: 41px;
    height: 41px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(22, 24, 35, 0.03);
    cursor: pointer;
    // animation: hideLoginForm 0.3s ease-in-out;
}

.back-icon {
    position: absolute;
    top: 14px;
    left: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.notify {
    top: 30px;
    position: absolute;
    z-index: 999;
    width: 768px;
    padding: 10px 8px;
    margin-left: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 21px;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 700;
    border-radius: 2px;
    background: rgba(22, 24, 35, 0.67);
    backdrop-filter: blur(5px);
    animation: slideAnimation 2s ease-in-out forwards;
}

@keyframes slideAnimation {
    0% {
        transform: translateY(-60px);
    }
    15% {
        transform: translateY(0);
    }
    90% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-110px);
    }
}
