.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: var(--font-family);
    width: 100px;
    padding: 9px 16px;
    border-radius: 4px;
    border: 1px solid transparent;
    background: var(--white);
    cursor: pointer;
    transition: 0.3s ease-in;
    user-select: none;

    + .wrapper {
        margin-left: 16px;
    }

    // Disable
    &.disabled {
        opacity: 0.5;
        cursor: not-allowed;
        pointer-events: none;
    }
}

// Button types
.rounded {
    border-radius: 999px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(255, 255, 255, 1);
    }
}

.primary {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);

    &:hover {
        border-color: var(--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.outlinePrimary {
    color: var(--primary);
    border: 1px solid var(--primary);
    box-shadow: none;

    &:hover {
        border-color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
        box-shadow: none;
    }
}

.outlineGray {
    border-color: var(--border-gray);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

// Button Sizes
.small {
    min-height: 28px;
    min-width: 88px;
    padding: 8px 14px;
    font-size: 1.6rem;
}

.large {
    min-width: 140px;
    padding: 14px 16px;
}

// Icon
.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}
.icon + span,
span + .icon {
    margin-left: 8px;
    text-wrap: nowrap;
}
