.wrapper {
    padding: 36px 24px;
    width: 100%;
}

.head-container {
    max-width: 624px;
    padding-right: 92px;
    position: relative;
    flex: 0 0 auto;
    margin-bottom: 20px;
}
.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avatar {
    width: 116px;
    height: 116px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.user-desc {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    flex: 1;

    .user-title {
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 38px;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;
        word-break: break-word;
    }

    .user-subtitle {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 24px;
        letter-spacing: -0.028px;
        text-overflow: ellipsis;
        height: 25px;
        overflow: hidden;
        max-width: 450px;
        white-space: nowrap;
    }

    .user-follow {
        position: relative;
        width: 208px;
        height: 36px;
        padding: 0;
        margin: 0;
        margin-top: 16px;
        display: flex;
        flex-wrap: nowrap;

        .message-btn {
            min-width: 164px;
            min-height: 36px;
        }

        .user-btn {
            width: 36px;
            height: 36px;
            margin-left: 8px;
            cursor: pointer;
        }
    }
    .follow-btn {
        min-width: 208px;
        min-height: 36px;
    }
}

.user-stats {
    display: flex;
    align-items: center;
    margin-top: 22px;

    .user-stat {
        margin-right: 20px;

        strong {
            font-weight: 700;
        }
        span {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 21px;
            letter-spacing: 0.03px;
            display: inline-block;
            margin-left: 6px;
        }
    }
}

.user-bio {
    text-align: left;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 21px;
    letter-spacing: 0.03px;
    white-space: pre-line;
    margin-top: 10px;
}

.share-action {
    position: absolute;
    top: 11px;
    right: 52px;
    cursor: pointer;
}

.more-action {
    position: absolute;
    top: 11px;
    right: 12px;
    cursor: pointer;
}

// Popper
.share-popper {
    width: 280px;
    padding: 8px 0px;
    max-height: 448px;
    overflow: auto;
}

.share-item {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 11px 16px;
    position: relative;
    margin: 0 !important;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }
}

.share-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    width: 100%;
    margin: 0 !important;
}

.hide {
    display: none !important;
}

.more-popper {
    min-width: 180px;
    padding: 8px 0px;
    display: flex;
}

.separate {
    border-top: 1px solid rgba(22, 24, 35, 0.12);
}

.more-item {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 21px;
    letter-spacing: 0.03px;
    display: block;
    -webkit-box-align: center;
    align-items: center;
    min-width: 180px;
    cursor: pointer;
}

.more-item-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding: 13px 16px;
    font-weight: 600;
    border-bottom: unset;

    &:hover {
        background-color: rgba(22, 24, 35, 0.04);
    }
}

// body
.body-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 520px;
    min-height: 490px;
}

.feed-tab {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    height: 44px;
    margin-bottom: 8px;

    &::after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.12);
        transform: scaleY(0.5);
    }
}

.feed-tab-item {
    height: 44px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    padding: 0 32px;
    color: rgb(115, 116, 123);
    cursor: pointer;
}

.lock-icon {
    margin-right: 4px;
}

.bottom-line {
    transform: translateX(0px);
    width: 122px;

    position: absolute;
    height: 2px;
    background: rgb(22, 24, 35);
    bottom: 0px;
    transition: transform 0.3s ease 0s;
}

.four-column {
    width: 900px;
}

.video-item-list {
    display: grid;
    grid-gap: 24px 16px;
    grid-template-columns: repeat(auto-fill, minmax(184px, 1fr));
}

.detail-wrapper {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    min-height: 490px;
    align-items: center;
    margin: 0px auto;
    -webkit-box-pack: center;
    -webkit-box-align: center;

    .detail-title {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 30px;
        margin-top: 24px;
    }

    .detail-desc {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0.03px;
        color: rgba(22, 24, 35, 0.75);
        margin-top: 8px;
    }
}

.detail-content {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    margin: 0px auto;

    .user-icon {
        fill-opacity: 0.34;
    }
}

// video
.video-item {
    position: relative;
}

.video-item-info {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    color: var(--white);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 24px;
    vertical-align: middle;
    background: linear-gradient(rgba(22, 24, 35, 0) 2.92%, rgba(22, 24, 35, 0.5) 98.99%);
    padding: 67px 13px 17px;

    span {
        vertical-align: middle;
    }

    .pause-icon {
        margin-right: 4px;
        vertical-align: middle;
    }
}
