.wrapper {
    --search-border-radius: 92px;
    --search-button-width: 75px;
    --search-box-width: 500px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-layout-header-height);
    box-shadow: 0 1px 1px rgb(0 0 0 / 12%);
    background-color: var(--white);
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    padding: 0 var(--default-layout-horizontal-spacer);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// logo
.logo-link {
    display: flex;
    min-width: 300px;
}

// actions
.actions {
    display: flex;
    align-items: center;
}

.upload-btn {
    min-width: 110px;
    padding: 0 16px;
    height: 36px;
}

.more-btn {
    font-size: 2rem;
    padding: 4px 8px;
    margin-left: 20px;
    background: transparent;
    cursor: pointer;
}
// Menu
.action-btn:not(:first-child) {
    font-size: 2.2rem;
    color: #161823;
    padding-left: 16px;
    cursor: pointer;
    position: relative;
}

.baddge {
    position: absolute;
    top: -3px;
    right: -9px;
    height: 2rem;
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font-family);
    line-height: 2rem;
    padding: 0 5px;
    border-radius: 10px;
}

// user
.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 16px;
    cursor: pointer;
}
