.wrapper {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    bottom: 0;
    width: var(--sidebar-width);
    min-height: 100vh;
    padding: 20px 0 26px 8px;
    margin-left: -11px;
    overflow-y: scroll;

    &:hover {
        transition: opacity 0.5s ease;
    }

    &:not(:hover)::-webkit-scrollbar-thumb {
        background: transparent;
    }
}

// .scroll-bar {
//     height: 58.4704px;
//     transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, -1) scale(4.24976) translateZ(-3.24976px)
//         translateZ(-2px);
//     position: absolute;
//     padding: 0 4px;
//     top: 0;
//     transform-origin: right top;
//     -webkit-transition: opacity 0.5s;
//     transition: opacity 0.5s;
//     opacity: 1;
//     right: 0;
// }

// .scroll-bar-thumb {
//     width: 6px;
//     height: 100%;
//     border-radius: 3px;
//     background: rgba(22, 24, 35, 0.06);
// }

// Footer
.link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 8px;
}

.link-item,
.copy-right {
    font-family: TikTokFont;
    font-size: 12px;
    font-weight: 600;
    color: #16182380;
    margin: 5px 6px 0 0;
}

.link-item {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

// Login Frame
.frame-container {
    position: relative;
    padding: 20px 8px 24px 8px;
    margin: 0;

    &::before {
        content: '';
        position: absolute;
        height: 1px;
        left: 8px;
        right: 8px;
        background: rgba(22, 24, 35, 0.12);
        -webkit-transform: scaleY(0.5);
        -moz-transform: scaleY(0.5);
        -ms-transform: scaleY(0.5);
        transform: scaleY(0.5);
        top: 0;
    }
}

.login-content {
    color: var(--text-color);
    font-size: 1.6rem;
    line-height: 21px;
    letter-spacing: 0.03px;
}

.login-btn {
    width: 100%;
    margin-top: 20px;
}

// Reposive
@media (max-width: 920px) {
    .wrapper {
        width: 72px;
    }
    .frame-container,
    Footer {
        display: none;
    }
}
